<h1>New Post </h1>
<%= form_with model: @post do |form| %>
<p>
    <%= form.label "Title"%>
    <%= form.text_field "Title" %>
</p>
<p>
    <%= form.label "Description"%>
    <%= form.text_field "Description" %>
</p>
<p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
    <%= form.hidden_field "place_id" %>
  </p>
  <%= form.submit %>
<% end %>